/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  
  background-color: black;
  color: white;
  font-family: 'Zain', sans-serif;

  min-height: 100vh;
  
  
}

.App-header {
  
  height: 100px; /* Fixed height for TopBar */
  display: flex;
  align-items: center;
  padding: 0 20px;
  z-index: 1000;
}

main {
  flex: 1;
  
  padding: 0;
  background-color: rgb(42, 75, 119); /* move background here if needed */
}


